[submodule "libraries/EPypes"]
	path = libraries/EPypes
	url = https://github.com/semeniuta/EPypes
[submodule "libraries/visionfuncs"]
	path = libraries/visionfuncs
	url = https://github.com/semeniuta/visionfuncs
[submodule "libraries/vcalib"]
	path = libraries/vcalib
	url = https://github.com/semeniuta/vcalib
